/*--scss:defaults --*/
$yellow:  #ffc627 !default;
$gold:    #ffc627 !default;
$red:     #e83e8c !default;
$maroon:  #8c1d40 !default;
$orange:  #ff7f32 !default;
$blue:    #0097c3 !default;
$green:   #78be20 !default;
$grey:    #747474 !default;

// fonts
// $font-family-sans-serif: "Arial" !default;

// main colors
$link-color: $red !default;

// font sizes and margins
$presentation-font-size-root: 35px !default;
$presentation-h1-font-size: 2.0em !default;
$presentation-h2-font-size: 1.5em !default;
$presentation-h3-font-size: 1.2em !default;
$presentation-h4-font-size: 1.1em !default;
$presentation-heading-color: $blue !default;
